<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台管理</title>
<{include file="common_before.html"}>
</head>
<body>
<div class="container-fluid">
<div style="background:#3992D0" class="row">
<div class="col-sm-12" style='padding-bottom:10px; color:white'><h3 class="text-center">商品统计</h3></div>
</div>


<div class="row">

<div id="statistic" class="col-sm-8">
</div>
<div class="col-sm-4">


</div>



</div>






</div>


</body>
<{include file="common_after.html"}>
<script type="text/javascript" src="../js/highcharts.js"></script>
<script type="text/javascript" src="../js/exporting.js"></script>
<script src="../js/itemManage.js"></script>
</html>
