@CHARSET "UTF-8";
BODY{text-decoration:none; font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif; margin:0; padding:0; min-width:980px}
.tip{font-size:30px;padding:0px}

#header{}
.logo-en img{width:30%; height:30%; }
.spanb{float:left; height:50px; width:1px; border:1px solid red; margin-top:10px}
.forget{font-size:12px; line-height:100%; margin-top:10px; }
.forget a{color:#ff0080}

#main-content{background:#db4424}
.userForm{padding:10px 20px; background:white; margin-top:30px; margin-bottom:30px}
.form-header{font-size:20px;}
.inputSpan{margin-bottom:20px}

.footer{height: 100px;}
.footer-main{height:100%;position:relative}
.footer-content { width: 100%;  position: absolute; bottom:0;	}

.login-tip{font-size:12px;height:25px; margin-bottom:10px; line-height:25px; margin-left:12px}