@CHARSET "UTF-8";
#edit{cursor:pointer}
#edit:hover{color:red}
input.error { border: 1px solid red; }
label.error {
  padding-left: 12px;

  padding-bottom: 2px;

  font-weight: bold;

	font-size:12px;
	
  color: red;
}