<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link href="<{$root}>static/css/bootstrap.css" rel="stylesheet">
</head>
<body style="font-family:微软雅黑">

  <div class="container-fluid">
    <div style="background:#3992D0" class="row">
      <div class="col-sm-12" style='padding-bottom:10px; color:white'><h3 class="text-center">管理员登录</h3></div>
    </div>
    <div class="row" style="margin-top:100px">
      <div class="col-sm-6 col-sm-offset-4">
        <form class="form-horizontal" action="<{$root}>admin/login" method="post">
          <div class="form-group">
            <label for="adminname" class="col-sm-2 control-label">账号</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="adminname" id="adminname" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="adminPwd" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="adminPwd" name="adminPwd" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <button type="submit" class="btn btn-primary">登录</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="<{$root}>static/js/jquery.js"></script>
    <script src="<{$root}>static/js/bootstrap.js"></script>
  </body>
  </html>