<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link href="<{$root}>static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
  <body style="font-family:微软雅黑">

    <div class="container-fluid">
      <div style="background:#3992D0" class="row">
        <div class="col-sm-12" style='padding-bottom:10px; color:white'><h3 class="text-center">订单管理</h3></div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">订单检索&nbsp&nbsp&nbsp订单总数：<{$data.orderTotal}></div>
              </div></div>

              <table class="table table-bordered table-striped">
                <tr><td>订单ID</td><td>用户ID</td><td>总价</td><td>收件人</td><td>电话</td><td>地址</td><td>下单时间</td><td>详情</td></tr>
                <{foreach $data.orders as $order}>
                <tr>
                  <td><{$order->orderid}></td>
                  <td><{$order->userid}></td>
                  <td><{$order->totalPrice}></td>
                  <td><{$order->recipient}></td>
                  <td><{$order->orderphone}></td>
                  <td><{$order->orderaddr}></td>
                  <td><{$order->addtime}></td>
                  <td><button class="btn btn-info btn-sm showDetail" id="order<{$order->orderid}>" value="<{$order->orderid}>" data-toggle="modal" data-target="#myModal">订单详情</button></td>
                </tr>
                <{/foreach}>
              </table>

              <div class="panel-footer">
                <nav>
                  <ul class="pager">
                    <li><a href="<{$root}>admin/orderManage?offset=<{$data.offset-1}>">上一页</a></li>
                    <li><a href="<{$root}>admin/orderManage?offset=<{$data.offset+1}>">下一页</a></li>
                    <li><a id="skip" href="#">跳转到</a></li>
                    <li><input id="skipPage" type="text" size="2">页&nbsp共<{$data.offset+1}>/<{$data.pageTotal}>页</li>
                  </ul>
                </nav>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 id="modalTitle" class="modal-title" id="myModalLabel">订单详情</h4>
            </div>
            <div class="modal-body">
              <table id="detailTable" class="table table-bordered">

              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <{include file="common_js.html"}>
    <script>
      $(function(){
        $(".showDetail").each(function(){
          $(this).click(function(){
            $orderid = $(this).attr("value");
            $.ajax({
              url : getRootPath() + "/admin/getOrderDetail",
              type : "post",
              data : {orderid : $orderid},
              async: false,
              dataType : "json",
              success : function(data) {
                $("#modalTitle").html("订单ID："+data[0].orderid+"&nbsp&nbsp&nbsp&nbsp&nbsp用户ID："+data[0].userid);
                $("#detailTable").html("<tr><td>商品ID</td><td>商品名</td><td>品牌</td><td>单价</td><td>数量</td></tr>");
                for($i=0;$i<data.length;$i++) {
                  $("<tr><td>"+data[$i].itemid+
                   "</td><td>"+data[$i].itemname+
                   "</td><td>"+data[$i].brand+
                   "</td><td>"+data[$i].itemprice+
                   "</td><td>"+data[$i].quantity+
                   "</td></tr>").appendTo("#detailTable");
                };
              },
              error : function() {
                alert("异常");
              }
            });
          })
        });

        $("#skip").click(function(){
          $page = parseInt($("#skipPage").val())-1;
          $str = getRootPath() + "/Admin/orderManage?offset="+$page;
          $(this).attr("href", $str);
        });

      });
      </script>
    </body>
    </html>